{{> header}}

<link rel="stylesheet" href="/common/main.css">
<link rel="stylesheet" href="/common/loginregister.css">

 <div class="main-content">
    <!-- ======= Title ======= -->
    <div class="_title container-fluid">
        <h1>Requested/Ongoing Lab Tests</h1>
    </div>

    <div class="test-content">
        <!-- ======= Advanced Search ======= -->
        <form action = "/main/1" method = "get">
            <div class="form-box">
                <div class="norm">
                    <input class="input-item form-control" type="text" id="search" name="search" placeholder="Search">
                    <button class="btn-item btn btn-primary btn-lg" type="submit">SEARCH</button>
                </div>
                
                <div class="adv">
                    <a data-bs-toggle="collapse" data-bs-target="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch" class="advanced">
                        <div class="adv-title">
                            <h5 class="adv-icon">Advanced Search</h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </div>
                    </a>

                    <div class="collapse" id="collapseSearch">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="start_date">Date Requested</label>
                                    <input type="date" class="form-control adv-item" id="lowerdate" name="lowerdate">
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date">Date Completed</label>
                                    <input type="date" class="form-control adv-item" id="upperdate" name="upperdate">
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12">
                                    <label for="date">Status</label>
                                    <select class="form-select adv-item" id="status" name="status">
                                        <option value="A">All</option>
                                        <option value="Requested">Requested</option>
                                        <option value="In Progress">In Progress</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                 </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-6">
                                    <label for="date">Category</label>
                                    <select class="form-select adv-item" id="category" name="category">
                                        <option value="AA">All</option>
                                        <option value="Hematology">Hematology</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Clinical Microscopy">Clinical Microscopy</option>
                                        <option value="Serology">Serology</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label for="date">Test</label>
                                    <select class="form-select adv-item" id="tests" name="tests">
                                        <option value="AAA">All</option>
                                        <option value="t1">Test 1</option>
                                        <option value="t2">Test 2</option>
                                        <option value="t3">Test 3</option>
                                        <option value="t4">Test 4</option>
                                    </select>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <!-- ======= Table of Lab Tests ======= -->
        <table class="test-items">
            <tr>
                <th class="item-label number"><h5>#</h5></th>
                <th class="item-label"><h5>Patient ID</h5></th>
                <th class="item-label"><h5>Name</h5></th>
                <th class="item-label"><h5>Test&sol;s</h5></th>
                <th class="item-label status"><h5>Status</h5></th>
                <th class="item-label remarks"><h5>Remarks</h5></th>
                <th class="item-label date"><h5>Date Requested</h5></th>
                <th class="item-label date"><h5>Date Completed</h5></th>
            </tr>
            {{#each data}}
                <tr>
                    <th class="item-container number"><h5>{{@index}}</h5></th>
                    <td class="item-container"><h5>{{patientID}}</h5></th>
                    <td class="item-container"><h5>{{patientName}}</h5></th>
                    <td class="item-container"><h5>{{category}}</h5></th>
                    <td class="item-container status"><h5 class="status-item {{barColor}}">{{status}}</h5></th>
                    <td class="item-container"><h5>{{remarks}}</h5></th>
                    <td class="item-container date"><h5>{{dateStart}}</h5></th>
                    <td class="item-container date"><h5>{{dateEnd}}</h5></th>
                </tr>
            {{/each}}
        </table>

        <!-- ======= Buttons ======= -->
        <table class="test-items">
            <tr>
                <th class="btn-container text-start">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/main/{{pageNoBack}}'">BACK</button>
                </th>
                <th class="page-container text-center">
                    <h5>Page {{pageNo}} of {{pageNoCap}}</h5>
                </th>
                <th class="btn-container text-end">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/main/{{pageNoNext}}'">NEXT</button>
                </th>
            </tr>
        </table>
    </div>
 </div>
 