{{> header}}

<link rel="stylesheet" href="/common/main.css">
<link rel="stylesheet" href="/common/login_register.css">
<link rel="stylesheet" href="/common/edit_status_request.css">
<link rel="stylesheet" href="/common/save_to_pdf.css">
<script type="text/javascript" src="/common/scripts/main_func.js"></script>
<script type="text/javascript" src="/common/scripts/edit_status_request.js"></script>
<script type="text/javascript" src="/common/scripts/save_to_pdf.js"></script>



 <div class="main-content">
    <!-- ======= Title ======= -->
    <div class="_title container-fluid">
        <h1>Requested/Ongoing Lab Tests</h1>
      <h2 id="time"></h2>
    </div>

    <div class="test-content">
        <!-- ======= Advanced Search ======= -->
        <form action = "/main/1" method = "get">
            <div class="form-box">
                <div class="norm">
                    <input class="input-item form-control" type="text" id="search" name="search" placeholder="Search">
                    <button class="btn-item btn btn-primary btn-lg" type="submit">SEARCH</button>
                </div>
                
                <div class="adv">
                    <a data-bs-toggle="collapse" data-bs-target="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch" class="advanced">
                        <div class="adv-title">
                            <h5 class="adv-icon">Advanced Search</h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </div>
                    </a>

                    <div class="collapse" id="collapseSearch">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="start_date">Starting Date Range</label>
                                    <input type="date" class="form-control adv-item" id="lowerdate" name="lowerdate">
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date">Ending Date Range</label>
                                    <input type="date" class="form-control adv-item" id="upperdate" name="upperdate">
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12">
                                    <label for="date">Status</label>
                                    <select class="form-select adv-item" id="status" name="status">
                                        <option value="A">All</option>
                                        <option value="Requested">Requested</option>
                                        <option value="In Progress">In Progress</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                 </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-6">
                                    <label for="date">Category</label>
                                    <select class="form-select adv-item" id="category" name="category">
                                        <option value="AA">All</option>
                                        <option value="Hematology">Hematology</option>
                                        <option value="Clinical Microscopy">Clinical Microscopy</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Serology">Serology</option>
                                    </select>
                                 </div>
                                 <div class="col-md-6">
                                    <label for="date">Test</label>
                                    <select class="form-select adv-item" id="tests" name="tests">
                                        <option value="AAA">All</option>

                                        <option value="CBC" class="h-cat">CBC</option>
                                        <option value="CBC with Platelet Count" class="h-cat">CBC with Platelet Count</option>
                                        <option value="ESR" class="h-cat">ESR</option>
                                        <option value="Blood Type with Rh" class="h-cat">Blood Type with Rh</option>
                                        <option value="Clotting Time" class="h-cat">Clotting Time</option>
                                        <option value="Bleeding Time" class="h-cat">Bleeding Time</option>

                                        <option value="Urinalysis" class="cm-cat">Urinalysis</option>
                                        <option value="Fecalysis" class="cm-cat">Fecalysis</option>
                                        <option value="FOBT" class="cm-cat">FOBT</option>
                                        
                                        <option value="FBS" class="c-cat">FBS</option>
                                        <option value="Creatinine" class="c-cat">Creatinine</option>
                                        <option value="Uric Acid" class="c-cat">Uric Acid</option>
                                        <option value="Cholesterol" class="c-cat">Cholesterol</option>
                                        <option value="Triglycerides" class="c-cat">Triglycerides</option>
                                        <option value="HDL" class="c-cat">HDL</option>
                                        <option value="LDL" class="c-cat">LDL</option>
                                        <option value="VLDL" class="c-cat">VLDL</option>
                                        <option value="BUN" class="c-cat">BUN</option>
                                        <option value="SGPT" class="c-cat">SGPT</option>
                                        <option value="SGOT" class="c-cat">SGOT</option>
                                        <option value="HbA1c" class="c-cat">HbA1c</option>
                                        
                                        <option value="HbsAg" class="s-cat">HbsAg</option>
                                        <option value="RPR/VDRL" class="s-cat">RPR/VDRL</option>
                                        <option value="Serum Pregnancy Test" class="s-cat">Serum Pregnancy Test</option>
                                        <option value="Urine Pregnancy Test" class="s-cat">Urine Pregnancy Test</option>
                                        <option value="Dengue NS1" class="s-cat">Dengue NS1</option>
                                        <option value="Dengue Duo" class="s-cat">Dengue Duo</option>
                                    </select>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <!-- ======= Table of Lab Tests ======= -->
        <table class="test-items">
            <tr>
                <th class="item-label number"><h5>#</h5></th>
                <th class="item-label"><h5>Request ID</h5></th>
                <th class="item-label"><h5>Patient ID</h5></th>
                <th class="item-label"><h5>Name</h5></th>
                <th class="item-label"><h5>Test&sol;s</h5></th>
                <th class="item-label status"><h5>Status</h5></th>
                <th class="item-label remarks"><h5>Remarks</h5></th>
                <th class="item-label date"><h5>Date Requested</h5></th>
                <th class="item-label date"><h5>Date Completed</h5></th>
            </tr>
            {{#each data}}
                <tr data-request-id="{{requestID}}" data-patient-id="{{patientID}}" data-patient-name="{{patientName}}" 
                data-status="{{status}}" data-remarks="{{remarks}}" data-bs-toggle="modal" data-bs-target="#Modal-{{requestID}}" role="button" onclick="generateTemplate('{{requestID}}', '{{category}}')">
                    <th class="item-container number"><h5>{{patientNo}}</h5></th>
                    <th class="item-container"><h5>{{requestID}}</h5></th>
                    <td class="item-container"><h5>{{patientID}}</h5></th>
                    <td class="item-container"><h5>{{patientName}}</h5></th>
                    <td class="item-container"><h5>{{test}}</h5></th>
                    <td class="item-container status"><a data-bs-toggle="modal" data-bs-target="#statusModal" role="button">
                    <h5 class="status-item {{barColor}}">{{status}}</h5></a></th>
                    <td class="item-container"><h5>{{remarks}}</h5></th>
                    <td class="item-container date"><h5>{{dateStart}}</h5></th>
                    <td class="item-container date"><h5>{{dateEnd}}</h5></th>
                </tr>
            {{/each}}
        </table>

        <!-- ======= Buttons ======= -->
        <table class="test-items">
            <tr>
                <th class="btn-container float-start">
                    {{#if pageFirst}}
                        <button type="button" class="btn btn-primary btn-lg" id="back" onclick="window.location.href='/main/{{pageNoBack}}{{query}}'" disabled>BACK</button>
                    {{else}}
                        <button type="button" class="btn btn-primary btn-lg" id="back" onclick="window.location.href='/main/{{pageNoBack}}{{query}}'">BACK</button>
                    {{/if}}
                </th>
                <th class="page-container text-center">
                    <h5>Page {{pageNo}} of {{pageNoCap}}</h5>
                </th>
                <th class="btn-container float-end">
                    {{#if pageLast}}
                        <button type="button" class="btn btn-primary btn-lg" id="next" onclick="window.location.href='/main/{{pageNoNext}}{{query}}'" disabled>NEXT</button>
                    {{else}}
                        <button type="button" class="btn btn-primary btn-lg" id="next" onclick="window.location.href='/main/{{pageNoNext}}{{query}}'">NEXT</button>
                    {{/if}}
                </th>
            </tr>
        </table>
        
        <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">Edit Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-header">
                            <div class="form-title">
                                <h1 id="user-name"><h2 id="patient-id"><br></h2></h1>
                            </div>
                        </div>
                        <form id="status-form" action="/update-status-request-db" method = "post">
                            <div class="form-group">
                                <div class="d-flex">
                                    <h2 id="request-id-lbl" name="request-id-lbl">Request ID:&nbsp;</h2><h2 id="request-id" name="requestID"><br></h2>
                                </div>
                                <label for="status">Status</label>
                                <select id="editstatus" name="status" class="form-control">
                                    <option value="Requested" disabled selected>Select Status</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group" id="start-date-group">
                                <label for="start-date">Start Date</label>
                                <input type="date" id="start-date" name="dateStart" class="form-control">
                            </div>
                            <div class="form-group" id="finish-date-group">
                                <label for="finish-date">Finish Date</label>
                                <input type="date" id="finish-date" name="dateEnd" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remarks">Medical Technician's Remarks</label>
                                <textarea id="remarks" name="remarks" class="form-control"></textarea>
                            </div>
                            <div class="form-group btn-container">
                                <input class="reg-btn" type="submit" value="SAVE">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#each data}}
    <div class="modal fade modal-lg" id="Modal-{{requestID}}" tabindex="-1" aria-labelledby="ModalLabel-{{requestID}}" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel-{{requestID}}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-header">
                            <div class="form-title">
                                <h1>{{patientName}}</h1>
                                Patient ID: {{patientID}}<br>
                                Request ID: {{requestID}}
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center align-items-center my-2 w-100" id="{{requestID}}-header"></div>
                            <form id="{{requestID}}-form">
                            <div id="{{requestID}}-content"></div>
                            </form>
                            <div class="my-3" id="{{requestID}}-submit"></div>
                            <div class="my-3" id="{{requestID}}-pdfsubmit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
        <div id="pdfModal" class="modalPDF">
        <div class="modal-content-pdf">
            <span class="close-pdf">&times;</span>
            <h2>Generated PDF</h2>
            <iframe id="pdfFrame" style="width:100%; height:500px;"></iframe>
            <button id="downloadBtn">Download PDF</button>
        </div>
    </div>
    </div>
 </div>

