{{> header}}

<link href="/common/patient_request.css" rel="stylesheet" >
<link rel="stylesheet" href="/common/login_register.css">
<script type="text/javascript" src="/common/scripts/patient_request_func.js"></script>

<div class="main-content">
    <!-- ======= Title ======= -->
    <div class="_title container-fluid">
        <h1>Add Patient Request</h1>
        <h2 id="time"></h2>
    </div>
    
    <div class="patient-info">
        <div class="label">
            <div class="label-text">
                Patient Information
            </div>
        </div>
        <div class="row-patient-info">
            <table>
                <tr>
                    <th class="item-container dd_search">
                        <label for="patientname" class="form-label">Name</label>
                        <input class="input-item form-control" type="text" id="patientname" name="patientname" placeholder="Name" value="{{patientname}}">
                        <select class="input-item _dropdown form-control" id="selectPatient"></select>
                        <select class=" _dropdown form-control" id="patientList">
                        {{#each patient}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                        </select>
                        {{#each patient}}
                        <input class="input-item form-control not-visible" type="text" id="{{firstname}}-{{lastname}}-patientid" name="{{firstname}}-{{lastname}}-patientid" placeholder="{{patientID}}" readonly>
                        {{/each}}
                    </th>
                    <th class="item-container">
                        <label for="searchbtn" class="form-label"><br></label>
                        <div class="input-item btn btn-primary btn-lg" id="searchbtn" onclick="searchPatient()">
                            SEARCH
                        </div>
                        <div class="input-item btn btn-primary btn-lg not-visible" id="cancelbtn" onclick="searchPatient()">
                            CANCEL
                        </div>
                    </th>
                    <th class="item-container">
                        <label for="sex" class="form-label">Sex</label>
                        <input class="input-item form-control" type="text" class="Serology form-check-input" id="sex" name="sex" placeholder="[Auto]" readonly>
                        {{#each patient}}
                        <input class="input-item form-control not-visible" type="text" id="{{firstname}}-{{lastname}}-sex" name="{{firstname}}-{{lastname}}-sex" placeholder="{{sex}}" readonly>
                        {{/each}}
                    </th>
                    <th class="item-container">
                        <label for="age" class="form-label">Age</label>
                        <input class="input-item form-control" type="text" id="age" name="age" placeholder="[Auto]" readonly>
                        {{#each patient}}
                        <input class="input-item form-control not-visible" type="text" id="{{firstname}}-{{lastname}}-age" name="{{firstname}}-{{lastname}}-age" placeholder="{{age}}" readonly>
                        {{/each}}
                    </th>
                </tr> 
            </table>
        </div>
        <div class="row-patient-info">
            <table>
                <tr>
                    <th class="item-container">
                        <label for="email" class="form-label">Email</label>
                        <input class="input-item form-control" type="text" id="email" name="email" placeholder="[Auto]" readonly>
                        {{#each patient}}
                        <input class="input-item form-control not-visible" type="text" id="{{firstname}}-{{lastname}}-email" name="{{firstname}}-{{lastname}}-email" placeholder="{{email}}" readonly>
                        {{/each}}
                    </th>
                    <th class="item-container">
                        <label for="phoneno" class="form-label">Phone No.</label>
                        <input class="input-item form-control" type="text" id="phoneno" name="phoneno" placeholder="[Auto]" readonly>
                        {{#each patient}}
                        <input class="input-item form-control not-visible" type="text" id="{{firstname}}-{{lastname}}-phoneno" name="{{firstname}}-{{lastname}}-phoneno" placeholder="{{phoneNo}}" readonly>
                        {{/each}}
                    </th>   
                </tr>
            </table>
        </div>
    </div>
    
    <div class="test-info">
        <div class="label">
            <div class="label-text">
                Test Information
            </div>
        </div>
        <div class="row-test-info">
            <table>
                <tr><th>Hematology</th></tr>
            </table>
            <table>
                <tr>
                    <td><input class="Hematology form-check-input" id="H-1" type="checkbox"/>CBC</td>
                    <td><input class="Hematology form-check-input" id="H-2" type="checkbox" disabled/>Platelet Count</td>
                    <td><input class="Hematology form-check-input" id="H-3" type="checkbox"/>ESR</td>
                </tr>
                <tr>
                    <td><input class="Hematology form-check-input" id="H-4" type="checkbox"/>Blood Type with Rh</td>
                    <td><input class="Hematology form-check-input" id="H-5" type="checkbox"/>Clotting Time</td>
                    <td><input class="Hematology form-check-input" id="H-6" type="checkbox"/>Bleeding Time</td>
                </tr>
            </table>
        </div>
        <div class="row-test-info">
            <table>
                <tr><th>Clinical Microscopy</th></tr>
            </table>
            <table >
                <tr>
                    <td><input class="ClinicalMicroscopy form-check-input" id="CM-1" type="checkbox"/>Urinalysis</td>
                    <td><input class="ClinicalMicroscopy form-check-input" id="CM-2" type="checkbox"/>Fecalysis</td>
                    <td><input class="ClinicalMicroscopy form-check-input" id="CM-3" type="checkbox"/>FOBT</td>
                </tr>
            </table>
        </div>
        <div class="row-test-info">
            <table>
                <tr><th>Chemistry</th></tr>
            </table>
            <table>
                <tr>
                    <td><input class="Chemistry form-check-input" id="C-1" type="checkbox"/>FBS</td>
                    <td><input class="Chemistry form-check-input" id="C-2" type="checkbox"/>Creatinine</td>
                    <td><input class="Chemistry form-check-input" id="C-3" type="checkbox"/>Uric Acid</td>
                    <td><input class="Chemistry form-check-input" id="C-4" type="checkbox"/>Cholesterol</td>
                    <td><input class="Chemistry form-check-input" id="C-5" type="checkbox"/>Triglycerides</td>
                    <td><input class="Chemistry form-check-input" id="C-6" type="checkbox"/>HDL</td>
                </tr> 
                <tr>
                    <td><input class="Chemistry form-check-input" id="C-7" type="checkbox"/>LDL</td>
                    <td><input class="Chemistry form-check-input" id="C-8" type="checkbox"/>VLDL</td>
                    <td><input class="Chemistry form-check-input" id="C-9" type="checkbox"/>BUN</td>
                    <td><input class="Chemistry form-check-input" id="C-10" type="checkbox"/>SGPT</td>
                    <td><input class="Chemistry form-check-input" id="C-11" type="checkbox"/>SGOT</td>
                    <td><input class="Chemistry form-check-input" id="C-12" type="checkbox"/>HbA1c</td>
                </tr>
            </table>
        </div>
        <div class="row-test-info">
            <table>
                <tr><th>Serology</th></tr>
            </table>
            <table>
                <tr>
                    <td><input class="Serology form-check-input" id="S-1" type="checkbox"/>HbsAg</td>
                    <td><input class="Serology form-check-input" id="S-2" type="checkbox"/>RPR/VDRL</td>
                    <td><input class="Serology form-check-input" id="S-3" type="checkbox"/>Serum Pregnancy Test</td>
                </tr>
                <tr>
                    <td><input class="Serology form-check-input" id="S-4" type="checkbox"/>Urine Pregnancy Test</td>
                    <td><input class="Serology form-check-input" id="S-5" type="checkbox"/>Dengue NS1</td>
                    <td><input class="Serology form-check-input" id="S-6" type="checkbox"/>Dengue Duo</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="buttons">
        <div class="btn btn-primary btn-lg">CANCEL REQUEST</div>
        <div class="btn btn-primary btn-lg" onclick="confirmPatientRequest()">SUBMIT REQUEST</div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetRequest()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Patient Name:</b> <span id="confirmName"></span><br>
                <b>Handled By:</b> {{user}}<br>
                <b>Test/s:</b> <span id="confirmTest"></span><br>
                <span id="confirmModalBody"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addRequest()">Confirm Request</button>
            </div>
        </div>
    </div>
</div>