{{> header}}

<link rel="stylesheet" href="/common/view_patients.css">
<link rel="stylesheet" href="/common/main.css">
<link rel="stylesheet" href="/common/login_register.css">
<script type="text/javascript" src="/common/scripts/view_patients_func.js"></script>

    <!-- ======= Main Content ======= -->
    <div class="main-content">
        <div class="_title container-fluid">
            <h1>View All Patients</h1>
            <h2 id="time"></h2>
        </div>

        <div class="form-box">
            <div class="norm">
                <input class="input-item form-control" type="text" name="search" id="search-field" placeholder="Search">
                <button class="btn-item btn btn-primary btn-lg" id="search-btn" type="submit">SEARCH</button>
            </div>

            <div class="adv">
                <h5 class="adv-icon">Sort by <a class="link-underline-primary" id="sortName-btn">Last Name A-Z</a> / <a class="link-underline-primary" id="sortDate-btn">Recently Modified</a> / <a class="link-underline-primary" id="reset-btn">Reset</a></h5>
            </div>
        </div>

        <div class="test-content">
            <table class="test-items">
                <thead>
                    <tr>
                        <th class="item-label"><h5>Patient</h5></th>
                        <th class="item-label"><h5>Last Modified</h5></th>
                        <th class="item-label"><h5>Remarks</h5></th>
                    </tr>
                </thead>
                <tbody id="pageData">
                    {{#each pageData}}
                    <tr>
                        <td class="item-container" ><a href="/patient-history/{{patientID}}/1"><h5>{{name}}</h5></a></td> 
                        <td class="item-container"><h5>{{latestDate}}</h5></td> 
                        <td class="item-container"><h5>{{remarks}}</h5></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="test-content mt-0">
            <!-- ======= Buttons ======= -->
            <table class="test-items">
                <tr>
                    <th class="btn-container float-start">
                        <button class="btn btn-primary btn-lg" type="button" id="back-btn" disabled="true">BACK</button>
                    </th>
                    <th id="pageNumber" class="page-container text-center">
                        <h5>Page {{start}} of {{end}}</h5>
                    </th>
                    <th class="btn-container float-end">
                        <button class="btn btn-primary btn-lg" type="button" id="next-btn">NEXT</button>
                    </th>
                </tr>
            </table>
        </div>

        <input type="hidden" name="hidden-chosenSort" id="hidden-chosenSort" value="D">
        <input type="hidden" name="hidden-search" id="hidden-search" value="false">
    </div>