{{> header}}

<link rel="stylesheet" href="/common/view_patients.css">
<script type="text/javascript" src="/common/view_patients_func.js"></script>

        <!-- ======= Main Content ======= -->
        <center id="nameOfPage">
            VIEW ALL PATIENTS
        </center>

        <div class="main-content">
            <div class="search-bar">
                <input type="text" name="search" id="search-field" placeholder="Search patients...">
                <button type="submit"  class="btn btn-primary btn-lg" id="search-btn">Search</button>
            </div>
            

            <div class="info-table">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center">PATIENT<br><button class="btn btn-primary btn-lg" id="sortName-btn">Last Name A-Z</button></th>
                            <th class="text-center">LAST MODIFIED<br><button class="btn btn-primary btn-lg" id="sortDate-btn">Recently Modified</button></th>
                            <th class="text-center">REMARKS</th>
                        </tr>
                    </thead>
                    <tbody id="pageData">
                        {{#each pageData}}
                        <tr>
                            <td>{{name}}</td> 
                            <td>{{latestDate}}</td> 
                            <td>{{remarks}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
            <div id="pageNumber">
                {{start}} out of {{end}}
            </div>
            <div class="nextback-buttons">
                <button type="button" id="back-btn" disabled="true">Back</button>
                <button type="button" id="next-btn">Next</button>
            </div>
            <input type="hidden" name="hidden-chosenSort" id="hidden-chosenSort" value="N">
            <input type="hidden" name="hidden-search" id="hidden-search" value="false">
        </div>